:root {
  --black: rgb(29, 29, 29);
  --black-15: rgba(29, 29, 29, 0.1);
  --white: rgb(255, 255, 255);
  --black400: rgb(56, 56, 56);
  --black400-40: rgba(56 56 56 / .3);
  --yellow: rgb(249, 177, 52);
  --grey: rgb(117, 145, 160);
  --grey200: rgb(168, 185, 194);

  --red: rgb(229, 55, 69);

  --radial-one: radial-gradient(50% 50% at 50% 50%, rgb(15, 31, 40) 0%, var(--black) 100%);
  --radial-two: radial-gradient(50% 50% at 50% 50%, rgb(38 20 21) 0%, var(--black) 100%);

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;

  -o-object-fit: cover;
  -o-object-position: center center;

  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::-moz-selection,
::selection {
  background-color: var(--black);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;

  -ms-hyphens: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-hyphens: auto;

  hyphens: auto;
  appearance: none;
}

body {
  font-size: 100%;
  color: var(--white);
  line-height: 1.4rem;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  overflow-x: hidden;

  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  hyphens: auto;
  font-smooth: always;

  background-color: var(--black);
}

.home_container {
  background-image: url('/logo_outline.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: min(90%, 35rem);
}

/* background */
.radial_gradient {
  content: '';
  border-radius: 50%;
  width: max(70vw, 70vh);
  height: max(70vw, 70vh);
  position: fixed;
  top: 25%;
  z-index: -1;
}

.radial_gradient--one {
  background: var(--radial-one);
  right: max(-35vw, -35vh);
}

.radial_gradient--two {
  background: var(--radial-two);
  left: max(-35vw, -35vh);
}

.main_container {
  padding: 0 1rem;
}

@keyframes bg_breathe_animation {

  from,
  to {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }
}