.container {
  width: min(40rem, 100%);
  margin: 7rem auto 0rem;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.label,
.login_button,
.error_log {
  width: min(20rem, 100%);
  border-radius: .3rem;
  padding: .3rem .5rem;
  outline: none;
}

.error_log {
  background: var(--red);
  margin: 0 auto 2rem;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.error_message {
  color: var(--white);
  text-align: center;
  opacity: 1;
}

.label {
  margin-bottom: .7rem;
  background: var(--black400);
  text-align: center;
  transition: box-shadow 300ms ease-in-out;
}

.label:focus {
  box-shadow: 0 2px 0 var(--grey);
}

.login_button {
  background: var(--yellow);
  color: var(--black);
  margin-top: 2rem;
}