/* header */
.header_wrapper {
  display: flex;
  width: 100vw;
  padding: .7rem 4rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  /* background blur */
  background: var(--black-15);
  backdrop-filter: saturate(180%) blur(.4rem);
}

.logo_wrapper {
  width: 9rem;
}

.logo_wrapper>img {
  height: auto;
  width: auto;
}

.menu_wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.take_order {
  background: var(--yellow);
  border-radius: .3rem;
  padding: .2rem .6rem;
  color: var(--black);
  font-weight: 600;
}

/* Hero section */